/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background: #763298 url("/images/background-textured-tile.gif");
  color: #333;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #0075bb;
}
#page_container {
  width: 920px;
  background: url("/images/body-background-textured.gif") repeat-y;
  margin: 0 auto;
  padding: 40px;
}
h1#logo a {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: 919px;
  height: 256px;
  background: url("/images/logo-swan-swoosh-shadow.png");
}

nav#menu {
  width: 308px;
  min-height: 550px;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  background: url("/images/sidebar-background.gif") no-repeat 10px -83px;
}
nav#menu ul {
  margin-bottom: 20px;
}
.menu li {
  float: none;
}
nav#menu a:link,
nav#menu a:visited,
nav#menu a:hover,
nav#menu a:active {
  text-decoration: none;
  width: 304px;
  height: 38px;
  line-height: 42px;
  padding-left: 12px;
  margin-left: 4px;
  display: block;
  font-size: 1.2em;
  color: #7f7f7f;
}
nav#menu li.selected a:link,
nav#menu li.selected a:visited,
nav#menu li.selected a:hover,
nav#menu li.selected a:active {
  color: #000;
  font-weight: normal;
  background: url("/images/active-sidebar-link.gif") no-repeat;
}
nav#menu a:hover {
  text-decoration: underline;
}
nav#menu a#call-to-action:link,
nav#menu a#call-to-action:visited,
nav#menu a#call-to-action:hover,
nav#menu a#call-to-action:active {
  width: 290px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  background: url("/images/call-to-action-button.gif") no-repeat;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #333;
}
#page {
  width: 575px;
  float: right;
  margin-right: 8px;
  margin-bottom: 40px;
}

footer {
  clear: both;
  width: auto;
  text-transform: lowercase;
  border-top: 1px solid #cdcdcd;
  padding-top: 16px;
  font-size: 0.875em;
}
footer ul {
  margin: 0 auto;
  width: 560px;
}
footer li {
  float: left;
  margin-right: 20px;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #a8a8a8;
}

h1#body_content_title {
  font-size: 2em;
  margin: 10px 0;
  border-bottom: 1px solid #D3D3D3;
}
#body_content_left .inner {
  padding-right: 0;
  line-height: 1.5;
}
.inner p {
  margin: 10px 0;
}
.inner h3 {
  margin: 10px 0;
}
.inner ul {
  list-style-type: disc;
  margin-left: 35px;
}
.inner ul li {
  margin: 10px 0;
}