.blog_post header, .blog_post footer {
  width: auto;
}
/* note resets global header and footer */
.blog_post header, #blog_post header {
    margin-top: 0px;
}
.blog_post footer, #blog_post footer, .blog_comment_message footer {
    border-top: none;
    border-bottom: 1px solid #CDCDCD;
    padding-top: 0px;
    margin-bottom: 15px;
}
.blog_post header h1, #blog_post header h1 {
    font-weight: bold;
    font-size: 1.25em;
}
.blog_post .posted_at{
}
.post_categories .filed_in {
  display: inline;
}
.post_categories ul {
  margin: 0px 0px 0px 6px;
  padding: 0px;
  display: inline;
}
.post_categories ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.field.message_field label {
  vertical-align: top;
}

/* added from refinerycms-events.css */

.sidebar_module {
	padding: 15px;
}
.sidebar_module h2 {
	margin: 0 0 10px;
}
.sidebar_module ul {
	list-style: square;
	padding: 0 0 0 26px;
	margin: 0;
}
.sidebar_module ul li {
	margin: 2px 0;
	padding: 2px 0;
}
.sidebar_module rss {
	padding: 15px 15px 15px 0;
}
/* end from refinerycms-events.css */

/* override refinery default for vertical content layout */
#body_content_right .inner {
    padding-left: 0px;
}

#rss_feed_subscribe {
  display: block;
  padding-left: 25px;
  background: url('/images/refinerycms-blog/rss-feed.png') no-repeat;
}
#next_prev_article{
  overflow:hidden;
  margin:10px 0;
  position:relative;
  height:30px;
}
#next_prev_article a{
  display:block;
  width:33%;
  height:30px;
  line-height:30px;
  position:absolute;
  top:0;
}
#next_prev_article a.prev{
  left:0;
}
#next_prev_article a.home{
  left:33%;
  text-align:center;
}
#next_prev_article a.next{
  text-align:right;
  right:0;
}

#message, .flash {
  padding: 8px 8px 8px 30px;
  margin-bottom: 15px;
  position: relative;
}

.blog_comment_message p {
  margin: 0px;
}

.flash_notice, .flash_message {
  border: 1px solid #00A017;
  color: #00A017;
  background: 7px 7px no-repeat url('/images/refinery/icons/accept.png') #E0F5E0;
}
.flash_notice, .flash_notice * {
  color: #00A017;
}
.flash_error {
  border: 1px solid #A00027;
  color: #A00027;
  background: 7px 7px no-repeat url('/images/refinery/icons/cancel.png') #FFB1B1;
}
.flash.flash_notice #flash_close, .flash.flash_error #flash_close {
  text-transform: lowercase;
}
.flash.flash_message {
  background: #E0F5E0;
  padding: 9px;
  position: relative;
  margin-bottom: 32px;
}
.flash.flash_message h2 {
  margin-top: 12px;
}
.flash_message, .flash_message * {
  color: #262719;
  font-size: 14px;
}
.flash a, .flash a:hover {
  color: #e20003;
  border-bottom-color: #e20003;
}
.flash.flash_error a, .flash.flash_error a:hover {
  display: none;
} /* FLASH MESSAGES */
