<div id="feature">
<p>A Student's Words</p>
<img style="float: left" src="/images/IMG_0703cpSM_81.jpg" height="81" />
<object height="81" width="20%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F59838041&amp;show_comments=true&amp;auto_play=false&amp;color=8e11d4" /> <param name="allowscriptaccess" value="always" /> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F59838041&amp;show_comments=true&amp;auto_play=false&amp;color=8e11d4" type="application/x-shockwave-flash" width="100%" /> </object> 
</div>

