<% 
  dom_id ||= 'social'
-%>

<div id=<%= dom_id %>>
<ul>
  <li>
    <a href="http://facebook.com/pages/Swan-4-Kids/293413797352890"><img src="/images/facebook_32.png"></a>
  </li>
  <li>
    <a href="http://twitter.com/swan4kids"><img src="/images/twitter_32.png"></a>
  </li>
  <li>
    <a href="http://www.youtube.com/user/swan4kids"><img height=32 src="/images/youtube-icon.png"></a>
  </li>
  <li>
    <a href="http://s1175.beta.photobucket.com/user/swan4kids/library/SWAN%20Students"><img height=32 src="/images/images.jpeg"></a>
  </li>
  <li>
    <a href="<%= events_path(:format => :rss) %>"><img src="/images/rss_32.png"></a>
  </li>
</ul>
</div>
